.content{
    margin: 0 auto;
    width: 100%;
    max-width: 900px;

    mat-form-field{
        width: 100%;
    }
}

textarea{
    height: 50vh;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 5px 0;
    
    button{
        margin-left: 5px;
    }
}