<h1>電通大学務情報システムの履修登録の表からiCal生成</h1>
<h2>
    １．↓ここに履修登録画面の表をコピペする
</h2>
<div>
    <textarea name="gakumu_src" [value]="gakumu_src" (input)="onChange($event)"></textarea>
</div>
<h2>
    ２．↓うまくいくとここにパース結果が出る
</h2>
<div>
    <div *ngFor="let e of classes">
        <h3>{{e.classnum}} {{day_of_weeks[e.day_of_week]}}曜{{e.period}}限 {{e.subject}}</h3>
    </div>
</div>
<h2>
    ３．↓Convert押してDownload押す
</h2>
<div>
    <button (click)="create_ical()">convert</button>
    <button (click)="download()" [disabled]="!ical.length">download</button>
</div>
<pre>{{ical}}</pre>